---
import GalleryItem from "../organisms/GalleryItem.astro";
import ImageArt from "../atoms/ImageArt.astro";

//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
---

<div class="container">
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
  <GalleryItem height="200px" />
</div>

<script>
  import MagicGrid from "magic-grid";
  const magicGrid = new MagicGrid({
    container: ".container",
    animate: true,
    gutter: 30,
    static: true,
    useMin: true,
  });

  magicGrid.listen();
</script>
<style>
  .container div {
    width: 280px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
</style>

<!-- <div class="picca-2">
  <GalleryItem
    title="Still drawing, to be continued..."
    image="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div>
<div class="picca-3">
  <img
    src="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div>
<div class="picca-4">
  <img
    src="/src/picca/2020-2022/illustration-spaceranger677.png"
    alt="Illustration Space Ranger 667 - 2021"
  />
  <span class="description">Illustration Space Ranger 667 - 2021</span>
</div>
<div class="picca-5">
  <img src="/src/picca/selfportrait2015.jpg" alt="Selfportrait - 2015" />
  <span class="description">Selfportrait - 2015</span>
</div>
<div class="picca-6">
  <img
    src="/src/picca/sketches/sketching-2021.png"
    alt="D&D Character Gromar Hafden sketch - 2021"
  />
  <span class="description">D&D Character Gromar Hafden sketch - 2021</span>
</div>
<div class="picca-7">
  <img
    src="/src/picca/sketches/sketching-2-2016.jpg"
    alt="Sketching from reference - 2016"
  />
  <span class="description">Sketching from reference - 2016</span>
</div>
<div class="picca-8">
  <img
    src="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div>
<div class="picca-9">
  <img
    src="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div> -->
