---
import GalleryItem from "../organisms/GalleryItem.astro";

//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
---

<GalleryItem />
<div class="container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
  <div class="item6">6</div>
  <div class="item7">7</div>
  <div class="item8">8</div>
  <div class="item9">9</div>
  <div class="item10">10</div>
  <div class="item11">11</div>
  <div class="item12">12</div>
  <div class="item13">13</div>
</div>

<script></script>
<style>
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container div {
    width: 280px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  .container .item1 {
    height: 200px;
  }
  .container .item4 {
    height: 800px;
  }
  .container .item6 {
    height: 600px;
  }
  .container .item11 {
    height: 400px;
  }
</style>

<!-- <div class="picca-2">
  <GalleryItem
    title="Still drawing, to be continued..."
    image="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div>
<div class="picca-3">
  <img
    src="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div>
<div class="picca-4">
  <img
    src="/src/picca/2020-2022/illustration-spaceranger677.png"
    alt="Illustration Space Ranger 667 - 2021"
  />
  <span class="description">Illustration Space Ranger 667 - 2021</span>
</div>
<div class="picca-5">
  <img src="/src/picca/selfportrait2015.jpg" alt="Selfportrait - 2015" />
  <span class="description">Selfportrait - 2015</span>
</div>
<div class="picca-6">
  <img
    src="/src/picca/sketches/sketching-2021.png"
    alt="D&D Character Gromar Hafden sketch - 2021"
  />
  <span class="description">D&D Character Gromar Hafden sketch - 2021</span>
</div>
<div class="picca-7">
  <img
    src="/src/picca/sketches/sketching-2-2016.jpg"
    alt="Sketching from reference - 2016"
  />
  <span class="description">Sketching from reference - 2016</span>
</div>
<div class="picca-8">
  <img
    src="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div>
<div class="picca-9">
  <img
    src="/src/picca/gfx/stilldrawing.png"
    alt="placeholder for new image"
  />
  <span class="description">placeholder for new image</span>
</div> -->
