---
// component imports

import Form from "../components/organisms/Form.astro";
import MainLayout from "../layouts/MainLayout.astro";

//styles import
import "../css/main.css";
import "../css/colors.css";
import "../css/typography.css";
import "../css/sizing.css";
---

<MainLayout
  title="Contact Ravi Rambaran"
  description="Contact Ravi Rambaran for inquiries and commissions"
>
  <main>
    <Form />
  </main>
</MainLayout>

<style></style>
