---
// component imports

import Form from "../components/organisms/Form.astro";
import MainLayout from "../layouts/MainLayout.astro";

//styles import
import "../css/main.css";
import "../css/colors.css";
import "../css/typography.css";
import "../css/sizing.css";
---

<MainLayout
  title="Contact Ravi Rambaran"
  description="Contact Ravi Rambaran for inquiries and commissions"
>
  <main>
    <Form />
  </main>
</MainLayout>

<style>
  .form {
    margin-bottom: 100%;
  }
  .submit-contact {
    background-color: rgb(100, 153, 100);
    border: none;
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    width: 160px;
  }
</style>
