---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import H1 from "../../components/atoms/H1.astro";

// library imports
import { Image, Picture } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const entries = await getCollection("entries");

  const paths = entries.map((entry) => {
    return {
      params: {
        slug: entry.slug,
      },
      props: {
        entry,
      },
    };
  });
  return paths;
};
type Props = {
  entry: CollectionEntry<"entries">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title="">
  <H1 text={entry.data.title} />
  <Picture
    src="{entry.data.image}"
    alt={entry.data.title}
    width={1024}
    height={1024 / 1.5}
    format="webp"
  />
  <div>
    <Content />
  </div>
</MainLayout>
