:root {
    -font-primary: sans-serif;
    --font-secondary: serif;
/* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    /* type scale */
        --text-s-2: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
        --text-s0: calc(1em / var(--text-scale-ratio));
        --text-s2: calc(1em * var(--text-scale-ratio));
        --text-s4: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
        --text-s6: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
        --text-s8: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
        --text-s10: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

}