---
//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
import "../../css/sizing.css";
// scripts imports
---

<small class="footer-updated">
  all images and content © <author>Ravi Rambaran</author> please do not use
  without permission &copy; <span
    x-text="new Date().getFullYear().toString()"
    id="copyright"></span> | all rights reserved reserved | updated on
  27-01-2023 - design and code by
  <a href="mailto:info@ravirambaran.art">Ravi</a>
</small>
<style>
  .footer-updated {
    padding: var(--s0);
    font-size: var(--s-8);
    text-align: center;
  }
</style>
