---
import { Image, Picture } from "astro:assets";
import astroImage from "../../assets/picca/sketches/sketching-1-2016.png";

//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
import "../../css/sizing.css";

// scripts imports

const { title, description, image, alt, href } = Astro.props;
---

<div class="artwork">
  <a href={href}>
    <Picture
      src={astroImage}
      formats={["avif", "webp"]}
      alt="A description of my image."
      widths={[240, 540, 720, astroImage.width]}
    />
    <!-- <Image src={astroImage} alt="Image alt" widths={} /> -->
    <span class="description">
      {title}
    </span>
  </a>
</div>

<style>
  .description {
    display: none;
  }
</style>
